* {
    margin: 0;
    padding: 0;
  }
  
  body {
   background-color: aqua;
    text-align: center;
  }

  h1{
    color: black;
    font-size: large;
    opacity: 90%;
    font-style: italic;
  }
  
  .container {
    height: 70vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b25300;
    background-color: #ffffc7;
  }
  .box:hover{
    height:16vmin ;
    width: 16vmin;
    background-color: rgb(180, 167, 167);
  }
  
  #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color:blueviolet;
    font-size: 15vmin;
    border: black 10px 10px 5px;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }